/* Global
================================================================*/

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	background: #7f7e7e;
}
body, p {
	font-family: Arial, Helvetica, sans-serif;	
	font-size: 14px;
	font-weight: 400;
	line-height: 160%;
	color: #3d3d3d; 
}

.wrapper { background: #fff;}

.relative { position: relative; }

.sm-gutter > [class*='col-'] { padding-right: 3px; padding-left: 3px; }
.sm-gutter-left > [class*='col-'] { padding-right: 3px; padding-left: 0; }

img.ir,
.side-content img{ width: 100%; height: auto; }

.date {font-size: 14px; color: #9e9e9e}


/* Pagination
--------------------*/

.pagination h2 { display:none }

.nav-links {
  width: 100%;
  text-align: center;
}
.page-numbers {
  display: inline-block;
  padding: 5px 10px;
  margin: 0 5px 0 0;
  border: 1px solid #eee;
  line-height: 1;
  text-decoration: none;
  border-radius: 2px;
}
.page-numbers.current,
a.page-numbers:hover { background: #f9f9f9; }
.page-numbers.current{ font-weight: 600; }
/* Image Crop
----------------------*/
.image-crop {
	position: relative;
	width: auto;
	padding-bottom: 70%;
 	margin: 0 0 5px;
  overflow: hidden;
}

.image-crop img {
  height: 100%;
  object-fit: cover;
  position: absolute;
  width: 100%; 
}
 
.modal-content {
    border-radius: 0;
    padding: 10px;
}
.ekko-lightbox-nav-overlay a span {
  color: #fff;
}
/* Fonts
------------------------------------------------------------*/
 
h1 {
	margin: 0 0 20px;
	font-size: 30px;
	line-height: 110%;
	font-weight: 800;
}
  
h2 {
	font-size: 28px;
    margin: 0;
}

h3 {
	margin: 15px 0;
	padding: 0;
 	font-size: 18px;
	line-height: 100%; 
	font-weight: 300; 
	color: #d21242;   
}

h4 {
	font-size: 18px;
	font-weight: 600;
   	margin: 0 0 10px; 
}

h5 { font-size: 15px; color: #444;}

h6 { font-size: 14px }
 
.font12 { font-size: 12px; line-height: 100%}
.font14 { font-size: 14px; line-height: 100%}
.font18 { font-size: 18px; line-height: 100%}
.font20 { font-size: 20px; line-height: 100%}

b, strong { font-weight:700 }

.red,
a.red:visited { color: #d21242 }

a.no-style {
  text-decoration:none;
  color: #3d3d3d;
}

.bg-red { background: #d21242}
 
a,
a:hover,
a:visited,
a:focus {
  color: #6aa7df;
  text-decoration: none; 
  cursor: pointer !important;
}

/* Buttons
------------------------------------------------------------*/
.btn {
	border-radius: 0;
	color: #fff;
	border: none;
	text-transform: uppercase;
	padding: 15px 30px; 
}

.btn-main,
.btn-main:visited {
	background: #d21242;
	font-size: 14px;
	color: #fff; 
}

.btn-main:hover,
.btn-main:focus {
	background: #000;
	color: #fff; 
}

.btn-small,
.btn-small:visited,
.btn-secondary,
.btn-secondary:visited {
	color: #fff; 
	background: #000;
	padding: 13px 30px; 

}
.btn-small,
.btn-small:visited {
  padding: 4px 10px;
  font-size: 13px;
  color: #fff;
  text-transform: capitalize;
}

/* Forms
-----------------------------------------*/
/*
#contact-form .forminator-row,
#contact-form .forminator-row:nth-child(2),
#contact-form .forminator-row:nth-child(3),
#contact-form .forminator-row:nth-child(4),
#contact-form .forminator-row:nth-child(5){
  display:inline-block;
  width: 48%;
  margin: 1%;
} 

#contact-form .forminator-row:nth-child(6) {
  width: 98%;
  margin: 1%; 
}

#contact-form .forminator-col {
  padding-left:5px;
  padding-right: 5px  
}
*/
#contact-form .forminator-row {
  margin-bottom: 0;
}
#contact-form #submit button {
  text-transform:uppercase;
  font-weight:700;
  padding: 10px 30px; 
}

#contact-form .forminator-field input,
#contact-form .forminator-field textarea,
input, select, textarea,
.input-group input,
.form-control {
  background: #fff;
	border-radius: 0;
	height: 44px;
	margin: 0 0 15px; 
  border:1px solid #ccc;
}

label {
	font-size: 12px;
	margin-bottom: 0; 
}

input[type="checkbox"] {
	width: 20px;
	height: 20px;
	margin: 0; 
}

/* Header
================================================================*/
header { border-bottom: 1px dotted #ccc}

.location { border-left: 1px dotted #ccc;}

footer .location {border-left:1px dotted #6b6b6b; font-size: 12px}

.location:first-child { border:none; }

#text-adjust {
	position: absolute;
	right: 30px;
	top: 15px;
	font-size: 11px;
	font-weight: 800;	
}

a.ts-sm,
a.ts-lg {
	font-size:70%;
	background:#eae7e7;
	padding: 1px 3px;
	cursor: pointer;
}
 
a.ts-lg { font-size:120%; }

        @media screen and (max-width: 992px) {
          #text-adjust { display: none }
        }

/* Main Navigation
------------------------------------------------------------*/
.sticky {
	position: fixed;
	width: 100%;
	max-width: auto;
  height: 47px;
  transition: all 0.8s ease;
	z-index: 997;
	top:0;
	font-size:14px;
	
} 
        @media screen and (max-width: 992px) {
              .sticky {
                position: relative;
                 top:auto;
              }
         }


nav:not(.pagination){
  border-width:1px 0;
  list-style:none;
  margin:0;
  padding:0;
  background: #d21242;
}

nav:not(.pagination) li { 
	display:inline; 
	margin: 0;
	position: relative;
} 

nav:not(.pagination) li a,
nav:not(.pagination) li a:visited{
  display:inline-block;
  font-size: 16px;
  padding: 13px 30px;
  text-decoration: none;
  line-height: 130%;
  color: #fff;
  border-right: 1px solid #b50d37;
  margin-left: -4px;
}

navv li:first-child a {
	padding: 13px 10px;
	background: #2c2b2b;
}

nav:not(.pagination) li a:hover{
	color: #d21242;
	background: #fff;
  margin-left: -4px;
}

/* Drop Down
----------------------*/
nav:not(.pagination) li ul {
	background-color: #d21242;
	display: none;
	position: absolute;
	top: 100%;
	z-index: 800; 
}

nav:not(.pagination) li:hover ul {
	display: block;
	width: 150px;
	top: 28px;
	left: 0;
	right: 0;
  color: #fff;
}

nav:not(.pagination) li ul li {
	display: block;
	width: 150px; 
  text-align:left;
  margin-left: -40px;
  color: #fff;
}

nav:not(.pagination) li ul li.menu-item a,
nav:not(.pagination) li ul li.menu-item a:visited{
	font-size: 12px;
 	border-bottom: 1px solid #bd103b;
	border-right: none;
	width: 100%;
	background: #d21242;
	padding: 10px ;
  color: #fff;
}

nav:not(.pagination) li ul li.menu-item a:hover{
	background-color: #bb153e;
	color:#fff;
}

.share {
	position: absolute;
	top: 0;
	right: 15px;
	background: #ad032d;
  color: #fff;
  font-size: 12px;
  padding:12px
}
#main-menu { 
  margin-bottom: 0;
  padding-left: 4px;
}
.m-nav,
.panel {
	display: none;
}

/* Mobile Menu
----------------------*/
        @media all and (max-width: 992px) {
          nav { 
            height: 40px; 
            text-align: center;
            z-index: 900
          }
          .share {
            position: relative;
            right: auto;
            background: none;
          }
          nav ul { display: none; }

          .m-nav,
          .panel {
            border: none;
            display: block;
          }
          .m-nav {
            position: absolute;
            top: 20px;
            right: 20px;
            font-size: 30px;
          }
          .panel-content {
            position: relative;
            background: #b60935;
            padding: 0 0 50px;
            overflow-y: auto;
            height: 100%;
            text-align: left
          }
          .panel-content .panel-close {
            position: absolute;
            font-size: 30px;
            text-align: center;
            cursor: pointer;
            display: block;
            color: #c45e2d;
            right: 50px;
            top: 30px;
             z-index:999;
            }
          .panel-content .panel-close:before {
            content: "\f057";
            font-family: FontAwesome;
            color: #fff;
           
          }
          .panel {
            z-index: 999;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            background: #eeeeee;
            position: fixed;
            display: block;
            bottom: 0;
            top: 0;
            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
            right: -100%;
            width: 60%;
            margin: 0;
            border-radius: 0;
          }
          .panel-content ul {
            list-style: none;
            margin-left: 30px;
          }
          .panel-content ul li a {
            color: #fff;
            text-transform:uppercase
          }
          
          .panel-content ul li ul.sub-menu {
            margin-left:-30px;
          }
          .panel-content ul li ul.sub-menu li a {
              font-size: 14px;
            color: #fff;
            text-transform: capitalize
          }
           .panel-content ul li{
            margin: 20px 0 0;
            padding-bottom: 5px;
            border-bottom: 1px dotted #820323;width:100%
          }
          
          .panel-content ul li a {
            background: #a6072f;
            padding:10px;
            display:inline-block;
            width: 93%
          }
           .panel-content ul ul li a {background:none}
          
          .panel-content ul li:last-child {
            border: none;
          }
           .panel-content ul ul li div { padding: 0 }
          .panel-content ul ul li a,
          .panel-content ul ul li a,
          .panel-content ul ul li a{
          }
          .panel.expanded { right: 0; } 
        }

/* Home Page
================================================================*/
 #slideshow {
   position: relative;
  width: 100%;
  height: auto;
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

#slideshow > div {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}

.carousel-indicators li {
    width: 18px;
    height: 18px;
    background-color: #fff;
    border:1px solid #ccc;
	  opacity: .8;
    border-radius: 50%;
    cursor: pointer
}
.carousel-indicators .active { 
  background-color: #d21242; 
  border:1px solid #d21242;
}

.intro p { font-size: 18px }

.intro h1 { color: #d21242}

.home-events .col-sm-4 { border-left: 1px dotted #ccc; }
.home-events .col-sm-4:first-child { border-left: none }

.home-events .image-crop { padding-bottom: 50% }

.home-event-link {
  position: absolute;
  bottom: 15px;
}
/* Footer
================================================================*/
footer { background: #444; }
.footer-menu { background: #3e3e3e}

footer,
footer p,
footer a,
footer a:visited,
footer .fa { color: #fff; }

footer ul li {
	display: inline;
	margin: 0 10px
}

footer ul li a { text-transform: uppercase }

.copy,
.copy a { 
	font-size: 11px;
	color: #b5b5b5;
}

.locations {
  border-bottom: 1px dotted #6b6b6b;
}

/* Hours/Social
----------------------*/

 .social .fab {
	width: 40px;
	height: 40px;
 	font-size: 24px;
	text-align: center;
	padding: 8px 0 0;
	color: #fff
}

.fa-facebook { background: #2b5da9}
.fa-twitter { background: #27b1eb}
.fa-linkedin-in { background: #2a2a2a}
.fa-instagram { background: #bc47c4}
.fa-youtube { background: #ec4e3e}

 /* Sub Pages
================================================================*/
img.alignleft {
  float: left;
  margin: 0 20px 20px 0;
}

img.alignright {
  float: right;
  margin: 0 0 20px 20px
}

/* Sub Menu
----------------------*/
.right-column .sub-menu{
  width: 100%;
	padding: 0 2%;
	border-top: 3px solid #cdcccc;
	background: #f7f7f7;
}
 
.right-column .sub-menu li{
	margin: 0px;
	font-size:12px;	
}

.right-column .sub-menu > li a,
.sub-menu > li a:visited{
	display: block;
	color: #3d3d3d;
	padding: 20px 8px;
	text-decoration: none;
	font-size: 14px;
	font-weight: 400;
	line-height: 100%;
	text-transform: uppercase;
	border-bottom: 1px dotted #ccc;
}

.right-column .sub-menu li a:link:before ,
.right-column .sub-menu li a:visited:before{
	font-family: FontAwesome;
	content: '\f138  ';
 	color: #d11242;
}

.right-column .sub-menu li a:hover,
.right-column .sub-menu li.current-menu-item a {
	color: #d11242;
}

/* Side Content
----------------------*/
.side-content {
  border-top: 1px dotted #ccc;
  border-bottom: 1px dotted #ccc;
  padding: 10px 0;
  margin: 10px 0;
}
.side-content p{
  font-size: 12px;
}
.side-content h3 {
  font-size: 16px;
  color: #000;
}
.side-content h4 {
  font-size: 14px;
}
 
        @media screen and (max-width: 992px) {
          .side-ads { display: none;}
        }

/* FAQ
----------------------*/
.faq-q p {
  font-size: 16px;
  font-weight: 600;
  line-height: 120%;
}

/* Products
----------------------*/
.products h4 {
  font-size: 16px;
  color: #d21242
}
.products sup {font-size: 15px}
.product {
  min-height: 220px;
}

      @media screen and (max-width: 767px) {
        .ad-sm [class*='col-'] {
           width: 48.8888%;
        }
      } 

.rx-refill-location .fas,
.flyer-location .fas{
  font-size: 24px;
}

/* Products
----------------------*/
.staff-member .image-crop { padding-bottom: 100%; }
.staff-member .image-crop img {left:0}

img.alignleft {
  float: left;
  margin: 0 20px 20px 0;
}

img.alignright {
  float: right;
  margin: 0 0 20px 20px
}


/* 404 Page
================================================================*/
.page-error {
  background: repeating-linear-gradient(
  45deg,
  #eaeaea,
  #eaeaea 10px,
  #f8f8f8 10px,
  #f8f8f8 20px
);}
.error-content{ 
  max-width:600px; 
  margin:0 auto
}
.page-error h1 { 
  font-size: 44px; 
  color: #444; 
  letter-spacing: .08em
}
.page-error h2 {
  font-size: 24px;
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
}
.page-error h3 {
  font-size: 24px; 
  margin: 0 0 10px;
  font-weight: 300;
  color: #444
}
.home-page { 
  padding: 10px 30px; 
  border-radius:20px; 
  background:#302f2f;
  font-size: 20px;
}